<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="assets/images/user.png" alt="" width="100" height="100">
        <h2>About Developer</h2>
        <p class="lead text-justify">This is Md. Helal Khan - Software Engineer, I have completed my BSc in Software Engineering from American International University-Bangladesh. Currently I'm doing a job at icddrb as Assitant Programmer (Java). icddr,b (formerly known as the International Centre for Diarrhoeal Disease Research, Bangladesh) is an international health research organisation. Here I'm working with health system.</p>
    </div>
</div>