<div class="container mb-2">
    <div class="row">
        <div class="col-md-12">
            <form class="card p-2"  (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <input type="text" class="form-control" name="title" [(ngModel)]="title" placeholder="Add todo..." >
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary font-weight-bold">Add TODO</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>